.p {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.c {
    width: 80%;
    height: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c1 {
    width: 50%;
    height: 100%;
    background-color: mediumpurple;
    border-right: 5px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c2 {
    width: 50%;
    height: 100%;
    background-color: mediumspringgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 50px;
    padding: 20px 70px;
    border-radius: 10px;

}

input {
    width: 140px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 40px;
}

#sec {
    color: black;
}